<div class="blog-card">
  <div class="meta">
    <div class="photo" style="background-image: url('assets/images/learn/first.jpg')"></div>
    <ul class="details">
      <li class="author"><a href="#">Larry and Harry</a></li>
      <li class="date">Aug. 25, 2020</li>
      <li class="tags">
       Pandora
      </li>
    </ul>
  </div>
  <div class="description">
    <h1>Larry and Harry</h1>
    <h2>Two brothers from Texas</h2>
    <p>Larry and Harry living their best life on Pandora growing thestrals. Larry finds their new life as a new start</p>
    <p class="read-more">
      <!--<a href="#">Read More</a>-->
    </p>
  </div>
</div>

<div class="blog-card alt">
  <div class="meta">
    <div class="photo" style="background-image: url('assets/images/learn/second.jpg')"></div>
    <ul class="details">
      <li class="author"><a href="#">Lars Skywalker</a></li>
      <li class="date">May. 15, 2035</li>
      <li class="tags">
       Tatooine
      </li>
    </ul>
  </div>
  <div class="description">
    <h1>Lars Skywalker</h1>
    <h2>Adventurous father</h2>
    <p>Lars was 23 when he moved from small apartment in Ney-York to Tatooine. Today he lives on a vast ranch with his family</p>
    <p class="read-more">
      <!--<a href="#">Read More</a>-->
    </p>
  </div>
</div>

<div class="blog-card alt">
  <div class="meta">
    <div class="photo" style="background-image: url('assets/images/learn/third.jpg')"></div>
    <ul class="details">
      <li class="author"><a href="#">Peter Quill</a></li>
      <li class="date">March. 05, 2015</li>
      <li class="tags">
       Corusant
      </li>
    </ul>
  </div>
  <div class="description">
    <h1>Peter Quill from Missouri</h1>
    <h2>Also known as StarLord</h2>
    <p>Peter was single loser in Missouri, today he is most famous space hunter on Corusant. He petted wild racoon and dates with an alien green girl!</p>
    <p class="read-more">
      <!--<a href="#">Read More</a>-->
    </p>
  </div>
</div>
