<div class="navbar">
  <a href="#" (click)="setTab('shop')">
    <p>shop</p>
  </a>
  <a href="#" (click)="setTab('look')">
    <p>look</p>
  </a>
  <a href="#" (click)="setTab('learn')">
    <p>learn</p>
  </a>
  <p class="logo">Planetarium</p>
  <a href="#">
    <p class="right" (click)="setTab('cart')">cart</p>
  </a>
</div>

<app-shop *ngIf="tab == 'shop'"></app-shop>

<app-cart *ngIf="tab == 'cart'"></app-cart>

<app-learn *ngIf="tab == 'learn'"></app-learn>

<app-look *ngIf="tab == 'look'"></app-look>

<div class="bg"></div>
