<div class="container">
  <div class="divBack">
    <img class="back" src="assets/images/look/back.gif" alt="">
  </div>
  <div class="text">
    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aut cum cumque dolore dolorem dolores, eos fuga impedit, labore laboriosam maiores mollitia nesciunt, optio porro possimus quidem quis soluta velit voluptatibus?
  </div>
  <img class="triplet" src="assets/images/artboard2.png" alt="">


  <div class="centered">Explore our new collection</div>
  <div class="centered btn">shop now</div>
  <div class="footer">
    <div>
      This is footer bla bla to connect us  bla
    </div>
    <div class="icons">
      <a href="https://www.facebook.com" class="fa fa-facebook"></a>
      <a href="https://www.twitter.com" class="fa fa-twitter"></a>
      <a href="https://www.instagram.com" class="fa fa-instagram"></a>
    </div>
  </div>


</div>

