<div class="container">
  <p class="header">
    Shopping cart
  </p>
  <hr>
  <table>
    <tr>
      <th class="first">Item</th>
      <th>Price</th>
      <th>Quantity</th>
      <th>Total</th>
      <th>Remove</th>
    </tr>
    <tr>
      <td>
        <div class="content">
          <img [src]='"assets/images/planet3.jpg"' alt="">
          <div class="description">
            <p>Alderaan</p>
            <p>Planet</p>
          </div>
        </div>

      </td>
      <td class="price">
        $$$$
      </td>
      <td class="price">
        1
      </td>
      <td class="price">
        $$$$
      </td>
      <td>
        x
      </td>
    </tr>

  </table>
  <div class="btn">
    check out
  </div>

</div>
